# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environment
venv/
ENV/

# macOS
.DS_Store

# IDEs and editors
.vscode/
.idea/
*.iml

# Logs
*.log
